<!DOCTYPE html>
<html lang="en">
	<head>
    		<meta charset="UTF-8">
    		<title>user</title>
	</head>
	<body>
		<!--表格定义-->
		<table>
			<!--列定义-->
			<thead>
				<tr>
					<th>user</th>
					<th>year</th>
					<th>number</th>
				</tr>
			</thead>
			<!--行数据定义-->
			<tbody>
				<!--tr表示一行-->
				<tr>
					<!--td表示行里的数据-->
					<td>huangqh</td>
					<td>24</td>
					<td>17620334699</td>
				</tr>
				<tr>
					<td>xiaomi</td>
					<td>22</td>
					<td>17666129412</td>
				</tr>
			</tbody>
			<!--一下为其他数据，包含for循环与if条件判断-->
			<tbody>
				<!--判断messages变量是否为空-->
                {% if messages %}
					<!--for循环-->
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.publish_date }}</td>
                        <td>{{ message.username }}</td>
                        <td>{{ message.title }}</td>
                        <td>{{ message.content }}</td>
                    </tr>
                    {% endfor %}
				<!--若无数据则给予提示-->
                {% else %}
                    <tr>
                        <td colspan="4">无数据</td>
                    </tr>
                {% endif %}
            </tbody>
		</table>
	</body>
</html>